@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$regular: Inter, 'sans-serif';
$lightGrey: rgb(156, 156, 156);
$danger: #ff1d79;
$success: #49be55;
$main: #0b469b;
$pricingCardLabelBg: #fbb136;
