@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
$regular: Poppins, "sans-serif";
$lightGrey: rgb(156, 156, 156);
$danger: #ff1d79;
$main: #0b469b;
$pricingCardLabelBg: #fbb136;
