.idea-table-left {
  border: 1px solid $lightGrey;
  p {
    color: $lightGrey;
  }
}

.idea-table-right {
  border-right: 1px solid $lightGrey;
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
  border-left: 1px solid #dfdfdf;
  p {
    color: $lightGrey;
  }
}
