.nav-item {
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
  font-weight: 600;
  a {
    font-size: 14px;
  }
  .btn {
    padding: 10px 35px;
    font-size: 14px;
  }
}

.link-active {
  color: $main !important;
}

.link-active::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: $main;
  border-radius: 50%;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
}


.navbar-light .navbar-toggler {
  border-color: transparent !important;
}